<header>
  <nav>
    <div class="left-nav">
      <ul>
        <li>home icon</li>
        <li>MY LISTING</li>
        <li>NAME</li>
        <li>NAME</li>
      </ul>
    </div>
    <h2>STORE_NAME</h2>
    <div class="divright_nav">
      <ul>
        <li>Login</li>
        <li>Sign up</li>
        <li>checkout icon</li>
      </ul>
    </div>
  </nav>
</header>