<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">purschic</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/mylistings">My Listings</a></li>
          <li><a href="/collection">Shop Collection</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <% if(!email){ %>
          <form action="/login" method="get">
            <button>Login</button>
          </form>
          <form action="/register" method="GET">
            <button class="clicks">Sign Up</button>
          </form>
          <% } else {%>
            <form action="/logout" method="POST">
              <span>Logged in as: <%= email %></span>
              <button>logout</button>
            </form>
            <% } %>
              <!-- <ul class="nav navbar-nav navbar-right">
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Sign Up</a></li>
        </ul> -->
      </div>
    </div>
  </nav>
</header>
