<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Styles -->
  <link rel="stylesheet" href="/styles/reset.css">

  <!-- fontAwesome -->
  <script src="https://kit.fontawesome.com/0721b3d140.js" crossorigin="anonymous"></script>


  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('./partials/_header') %>
    <main>
      <img src="" alt="body img">
      <div>
        <form action="/add_listing" method="POST" class="add_listing_form">
          <input type="text" name="product_name" placeholder="Product name" required>
          <textarea name="description" placeholder="Add description to your product" required></textarea>
          <input type="number" name="product_price" placeholder="Price" required>
          <input type="image" name="product image" placeholder="Insert a product image" required>
          <button>Post!</button>
        </form>
      </div>
    </main>
    <footer>
      some info
    </footer>
</body>

</html>
