<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Styles -->
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/index.css" />

  <!-- fontAwesome -->
  <script src="https://kit.fontawesome.com/0721b3d140.js" crossorigin="anonymous"></script>

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('./partials/_header') %>

    <main class="main_content">
      <div class="img-text">
        <img src="/images/index_background.jpg" class="background-image" alt="body_img" />
        <div class="collection-button">
          <p>ALL COLLECTION</p>
        </div>
      </div>

    </main>
</body>

</html>
