<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <nav>
    <div class="left-nav">
      <ul>
        <li>home icon</li>
        <li>MY LISTING</li>
        <li>NAME</li>
        <li>NAME</li>
      </ul>
    </div>
    <h2>STORE_NAME</h2>
    <div class="divright_nav">
      <ul>
        <li>Login</li>
        <li>Sign up</li>
        <li>checkout icon</li>
      </ul>
    </div>
  </nav>
  <main>
    <img src="" alt="body img">
    <form action="/login" method="POST" class="login_form">
      <input type="email" placeholder="Email" required>
      <input type="password" placeholder="password" required>
    </form>
  </main>
  <footer>
    some info
  </footer>
</body>

</html>