<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Styles -->
  <link rel="stylesheet" href="/styles/reset.css">

  <!-- fontAwesome -->
  <script src="https://kit.fontawesome.com/0721b3d140.js" crossorigin="anonymous"></script>

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('./partials/_header') %>
    <main>
      <img src="" alt="body img">
      <form action="/login" method="POST" class="login_form">
        <input type="email" name="login_email" placeholder="Email" required>
        <input type="password" name="login_password" placeholder="password" required>
      </form>
    </main>
    <footer>
      some info
    </footer>
</body>

</html>
