<!DOCTYPE html>
<html lang="en">

<head>
  <title>Main Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Styles -->
  <link rel="stylesheet" href="/styles/reset.css">

  <!-- fontAwesome -->
  <script src="https://kit.fontawesome.com/0721b3d140.js" crossorigin="anonymous"></script>

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('./partials/_header') %>
    <main>
      <div class="two_products">
        <div>
          <div>
            <img src="" alt="product_img">
            <i>cart icon</i>
            <i>fav icon</i>
          </div>
          <h2>title</h2>
          <h3>description</h3>
          <p>price</p>
        </div>
        <div>
          <div>
            <img src="" alt="product_img">
            <i>cart icon</i>
            <i>fav icon</i>
          </div>
          <h2>title</h2>
          <h3>description</h3>
          <p>price</p>
        </div>
      </div>
    </main>
    <footer>
      some info
    </footer>
</body>

</html>
