<!DOCTYPE html>
<html lang="en">

<head>
  <title>Main Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('./partials/_header') %>
    <main>
      <div class="two_products">
        <div>
          <div>
            <img src="" alt="product_img">
            <i>Edit icon</i>
            <i>Delete icon</i>
          </div>
          <h2>title</h2>
          <h3>description</h3>
          <p>price</p>
        </div>
        <div>
          <div>
            <img src="" alt="product_img">
            <i>Edit icon</i>
            <i>Delete icon</i>
          </div>
          <h2>title</h2>
          <h3>description</h3>
          <p>price</p>
        </div>
      </div>
      <div class="new_listing">same size as the img border but has + sign to add new listing</div>
    </main>
    <footer>
      some info
    </footer>
</body>

</html>