.all-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-history-title {
  text-align: center;
  font-weight: bold;
  padding-bottom: 3rem;
}

main {
  border: 3px solid grey;
  margin-top: 5em;
  padding: 3rem;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.inside-form {
  background-color: lightgray;
  border: 2px black solid;
  margin-bottom: 5px;
}

.messages_form div {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.messages_form input[type="text"] {
  width: 30em;
  padding: 10px;
  border: 2px black solid;
  margin-bottom: 10px;
  border-radius: 4px;
}

.messages_form button {
  background-color: rgb(0, 0, 10);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

li {
  list-style: none;
}

ul {
  justify-content: center;
  align-items: center;
  padding-right: 3.5em;
}


.message-inside {
  border: 1px solid black;
  padding: 0.75em;
  margin-bottom: 10px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.message-inside p:first-child {
  font-weight: bold;
}

.message-inside p {
  word-wrap: break-word;
}

section {
  margin: auto;
}
